@charset "utf-8";
/* 共通 */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

footer {
  background: skyblue;
}


ul {
  list-style: square url() outside;
}