@charset "utf-8";

/* 共通 */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  margin: 0;
  padding-top: 8px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  padding-top: 16px;
  margin-bottom: 26px;
}

a {
  text-decoration: none;
}

li ::marker {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
}

footer {
  margin-top: 16px;
  padding-bottom: 8px;
}

/* header */
.main-nav {
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 36px;
  list-style: none;
} 

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* footer */

/* Js */
.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

        /* スマートフォン用のスタイル */
        @media screen and (max-width: 480px) {
          header {
            padding: 10px;
          }
    
          .content {
            height: auto;
            padding: 20px;
          }
        }