@charset "utf-8";

/* 共通 */
* {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

html {
  font-size: 80%;
}

body {
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",sans-serif;
  line-height: 1.7;
  color: #090905;
  padding-top: 8px;
  font-size: 1.5rem;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  padding-top: 16px;
  margin-bottom: 26px;
  object-fit: cover;
}

a {
  text-decoration: none;
  font-size: 16px;
}

li ::marker {
  list-style: none;
}

h1 {
  font-size: 36px;
}

/* header */
/* ヘッダーナビ */
.main-nav {
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 36px;
  list-style: none;
} 

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

/* フッターナビ */
.sub-nav {
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 25px 15px;
  list-style: none;
} 

.sub-nav li {
  margin-right: 36px;
}

.sub-nav a {
  color: #432;
}

.sub-nav a:hover {
  color: #0bd;
}

.page-footer {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  padding: 0;
}

/* ツイッター&Github用アイコン */
.bi {
  font-size: 2rem;
  line-height: 12px;
}

/* プロフ＆問合せ用ボタン */
a.button {
  text-decoration: none;
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
  color: #432;
  font-style: 1.375rem;
  border-radius: 5px;
  padding: 24px 80px;
  margin-bottom: 36px;
}

a.button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

/* main  */
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 36px;
  padding-bottom: 10px;
}

.hero {
  height: 85vh;
  background-size: cover;
}

/* NEWS */
.new {
  padding-bottom: 30px;
  margin-top: 100px;
}

.news-content {
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  padding-bottom: 70px;
  gap: 50px;
}

.news {
  border: 2px solid #F0F2F0;
}

/* imgのpadding-topリセット */
.news2{
  padding-top: 0;
}

/* プロフォール背景色 */
.prof {
  background-color: #F0F2F0;
}

.circle {
  border-radius: 50%;
}

/* footer */
footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #F0F2F0;
  text-align: center;
}

/* Page TOPへもどるアイコン */
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 50px;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #432;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #432;
}

/* Js */
/* .content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
} */

/* MOBILE SIZE */
@media (max-width: 700px) {
  html {
    font-size: 50%;
  }  

  img {
    height: auto;
  }

}